/* Manavjot Singh [09/04/2021] */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: max(3vmin, 17px);
  padding: 0 3vw;
  text-align: center;
  gap: 3vh;
}

.button {
  text-decoration: none;
  border: 1px black solid;
  color: black;
  padding: 10px 20px;
  border-radius: 40px;
}

#logo {
  height: 50vw;
  max-height: 300px;
}

#header {
  padding-top: 5vh;
}

#sign_up > *:first-child {
  padding: 20px;
}

#contact_us {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

#social {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.section {
  width: 50vw;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .section {
    width: 75vw;
  }

  #contact_us {
    flex-direction: column;
    gap: 2vh;
  }

  #social {
    flex-direction: column;
    gap: 1vh;
  }
}
