/* Manavjot Singh [09/04/2021] */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --accent-color: #4dd2ff;
}

@media (prefers-color-scheme: dark) {
  * {
    --primary-color: #2e2e2e;
    --secondary-color: #ffffff;
  }

  #logo {
    filter: invert(1);
  }
}

@media (prefers-color-scheme: light) {
  * {
    --primary-color: #ffffff;
    --secondary-color: #2e2e2e;
  }
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: max(3vmin, 17px);
  padding: 0 3vw;
  text-align: center;
  gap: 3vh;
}

hr {
  border: 1px solid var(--secondary-color);
  border-radius: 1px;
}

.section {
  width: 50vw;
  justify-content: center;
}

.inline_link {
  color: var(--secondary-color);
}

.button {
  text-decoration: none;
  border: 3px var(--secondary-color) solid;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 10px 80px;
  border-radius: 40px;
}

.button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.button:active {
  border-color: var(--accent-color);
  color: var(--accent-color);
}


.link {
  text-decoration: none;
  color: var(--secondary-color);  
}

.link:active {
  color: var(--accent-color);
}

#logo {
  height: 50vw;
  max-height: 300px;
}

#header {
  padding-top: 10vh;
}

#header h4 {
  letter-spacing: 7px;
}

#header h5 {
  letter-spacing: 5px;
}

#sign_up, #tournaments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

#contact_us {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

#social {
  display: flex;
  flex-direction: column;
}

#location {
  padding-bottom: 10vh;
  font-size: max(2vmin, 13px);
}

#mission_statement {
  width: 35vw;
}

@media only screen and (max-width: 1000px) {
  .section {
    width: 75vw;
  }

  #mission_statement {
    width: 75vw;
  }
}
